<style type="text/css">
  .is-read {
    background: #fafafa;
    margin-top: 2px;
    border-bottom: 1px #0E4E5A solid
  }
  .is-not-read {
    background: #B3DBE8;
    margin-top: 2px;
    border-bottom: 1px #0E4E5A solid
  }
  .message-content {
    padding-top: 10px;
  }
</style>
<div class="container">
  <div class="row">
    <h3>Message box</h3>
  </div>
  <div class="row container-fluid">
    <div class="row">
      <div class="col-md-4">
        <%= will_paginate @all_messages %>
        <div class="container-fluid">
          <% @all_messages.each do |message| %>
          <div class="row <%= message.is_read ? 'is-read' : 'is-not-read' %>" >
            <div class="container-fluid message-content">
              <div class="row">
                <span class="col-md-4"> Level: <%= message.level %> </span>
                <span class="col-md-8"> <%= time_ago_in_words message.created_at %> ago </span>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p><%= link_to truncate(message.message, length: 50), notification_path(message) %></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <div class="col-md-8 container-fluid">
      <div class="row">
        <h4>#<%= @current_message.id %></h4>
        <h4>Level: <%= @current_message.level %></h4>
      </div>
      <div class="row">
        <p>
          <%= @current_message.message %>
        </p>
        <% if @current_message.targetable_type == "Request" %>
          <%= link_to "show request", customer_request_path(Request.find_by_request_id @current_message.targetable_id) %>
        <% elsif @current_message.targetable_type == "Trip" %>
          <%= link_to "show request", supplier_request_path(Trip.find_by_trip_id @current_message.targetable_id) %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>