<style type="text/css">
  .is-read {
    background: #fafafa;
    margin-top: 2px;
    border-bottom: 1px #0E4E5A solid
  }
  .is-not-read {
    background: #B3DBE8;
    margin-top: 2px;
    border-bottom: 1px #0E4E5A solid
  }
  .message-content {
    padding-top: 10px;
  }
</style>
<script type="text/javascript"> 
          function initialize() {
            var myLatlng = new google.maps.LatLng(21.0226967,105.8369637);
            var mapOptions = {
              zoom: 16,
              center:  myLatlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };            
            var map = new google.maps.Map(document.getElementById('gmap_canvas'),
            mapOptions);
            // Try W3C Geolocation (Preferred)
            if(navigator.geolocation) {
              browserSupportFlag = true;
              navigator.geolocation.getCurrentPosition(function(position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                var marker = new google.maps.Marker({
                  position: initialLocation,
                  title:"You are here!"
                });
                map.setCenter(initialLocation);
                marker.setMap(map);
              }, function() {
                handleNoGeolocation(browserSupportFlag);
              });
            }else {
              browserSupportFlag = false;
              handleNoGeolocation(browserSupportFlag);
            }            
            //Get all place and draw to map
            $.getJSON("/customer/get_itineary/<%= Schedule.find_by_request_id(@current_message.targetable_id).id %>", function (data) {
              if (data) {                
                  $.each(data, function (index, object) {
                    var contentString = '<div id = "markerContent">'+
                      '<p>' + object.address + '</p>' + '</div>';
                    
                    var image = {url:'<%= asset_path("img_flag.png") %>',                      
                        scaledSize: new google.maps.Size(50, 50),                        
                        origin: new google.maps.Point(0,0),                        
                        anchor: new google.maps.Point(0, 32)};
                    var myLatLng = new google.maps.LatLng(object.latitude, object.longitude);
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString,
                         maxWidth: 100
                    });
                    var foodMarker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon: image,
                        title: object.address                        
                    });
                    google.maps.event.addListener(foodMarker, 'click', function() {
                    infowindow.open(map,foodMarker);
                    });
                  });
              } else {
              }
            });
          }// End load script
          function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA10aWgd-daSGzR3ruieu5MgbGAxusiF90&callback=initialize';
          document.body.appendChild(script);
          }
          window.onload = loadScript;
        </script>
<div class="container">
  <div class="row">
    <h3>Message box</h3>
  </div>
  <div class="row container-fluid">
    <div class="row">
      <div class="col-md-4">
        <%= will_paginate @all_messages %>
        <div class="container-fluid">
          <% @all_messages.each do |message| %>
          <div class="row <%= message.is_read ? 'is-read' : 'is-not-read' %>" >
            <div class="container-fluid message-content">
              <div class="row">
                <span class="col-md-4"> Level: <%= message.level %> </span>
                <span class="col-md-8"> <%= time_ago_in_words message.created_at %> ago </span>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p><%= link_to truncate(message.message, length: 50), notification_path(message) %></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <div class="col-md-8 container-fluid">
      <div class="row">
        <h4>#<%= @current_message.id %></h4>
        <h4>Level: <%= @current_message.level %></h4>
      </div>
      <div class="row" >
        <div class="col-xs-12">
          <label>Red pin</label><span>&nbsp Current location</span>
          <label>Green flag</label><span>&nbsp transit stations</span>
          <p><%= @current_message.message %></p>
        </div>
      </div>
      <div class="row">        
        <% if @current_message.targetable_type == "Request" %>
          <!-- Visualize request itineary -->
          <div id="gmap_canvas" style="height:360px;width:600px;"></div>
        <% end %>        
      </div>
      <div class="row">
      <div class="col-md-4">
          <% if @current_message.targetable_type == "Request" %>
          <%= link_to "show request", customer_request_path(Request.find_by_request_id @current_message.targetable_id) %>
          <% elsif @current_message.targetable_type == "Trip" %>
          <%= link_to "show request", supplier_request_path(Trip.find_by_trip_id @current_message.targetable_id) %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>