<script type="text/javascript">
  $(document).ready(function() { 
    $("#data-table").tablesorter(); 
  }); 
</script>
<div class="row">
  <div class="button-bar container">
    <div class="row">
      <div class="col-md-4">
        <label>Order by:</label>
      </div>
      <div class="col-md-8">
        <select name="order">
          <option value="">Please select</option>
          <option value="1" selected="selected">Best price</option>
          <option value="2">Minimum transit station</option>
          <option value="3">Time</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="table-name">
    <span>Routes for #<%= @request.id %></span>
  </div>
  <div class="table-content">
    <table id="data-table" class="table table-striped tablesorter">
      <thead>
        <tr>
          <th>#</th>
          <th>Level</th>
          <th>Estimate time</th>
          <th>Description</th>
          <th>Action</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.level %></td>
          <td>
            Arrived time
          </td>
          <td>
            <% if schedule.invoices.count != 0 %>
              Cost: <%= schedule.invoices.sum(:offer_price) %>
            <% end %>
          </td>
          <td>
            <% if schedule.trips.count == 0 && schedule.invoices.count == 0 %>
              <%= button_to "Process to supplier", customer_schedule_trips_path(schedule) %>
            <% elsif schedule.invoices.count == schedule.abstract_trips.count %>
              <%= button_to "Accept", customer_schedule_path(schedule), method: :patch %>
            <% else %>
              <button>Processing (<%= schedule.invoices.count %> / <%= schedule.abstract_trips.count%>)</button>
            <% end %>
          </td>
          <td>
            <%= schedule.status %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>