<script type="text/javascript">
  $(document).ready(function() { 
    $("#data-table-1").tablesorter(); 
  }); 
</script>
<script type="text/javascript">
  $(document).ready(function() { 
    $("#data-table-2").tablesorter(); 
  }); 
</script>
<div class="container" id="app-area">
  <div class="row">
    <div class="button-bar">
      <a class="btn btn-default" href="#" role="button">Link</a>
      <button class="btn btn-default" type="submit">Button</button>
      <input class="btn btn-default" type="button" value="Input">
      <input class="btn btn-default" type="submit" value="Submit">
    </div>
  </div>
  <section class="row">
    <div class="table-name">
      <span>Customer requests</span>
    </div>
    <div class="table-content">
      <table id="data-table-1" class="table table-striped tablesorter">
        <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>From</th>
            <th>To</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %> 
          <tr>
            <td><%= request.id %></td>
            <td><%= request.customer.name %></td>
            <td><%= request.StartPoint.address if request.StartPoint != nil %></td>
            <td><%= request.EndPoint.address if request.EndPoint != nil %></td>
            <td>
              <%= link_to "", supplier_request_path(request, type: "request"), class: "glyphicon glyphicon-eye-open" %>&nbsp
              <span class="glyphicon glyphicon-pencil"></span>
            </td>            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <section class="row">
    <div class="table-name">
      <span>System requests</span>
    </div>
    <div class="table-content">
      <table id="data-table-2" class="table table-striped tablesorter">
        <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>From</th>
            <th>To</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @trips.each do |trip| %> 
          <tr>
            <td><%= trip.id %></td>
            <td><%= trip.schedule.level %></td>
            <td><%= trip.abstract_trip.StartPoint.address %></td>
            <td><%= trip.abstract_trip.EndPoint.address %></td>
            <td>
              <%= link_to "", supplier_request_path(trip, type: "trip"), class: "glyphicon glyphicon-eye-open" %>&nbsp
              <span class="glyphicon glyphicon-pencil"></span>
            </td>            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>

